<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<body>

<header class="page-header" role="banner">
  <div style="max-width:64rem; margin:0 auto; text-align:left;">
    <a href="{{ "/" | relative_url }}" style="
      display:inline-block;
      margin-bottom:12px;
      font-size:0.9rem;
      text-decoration:none;
      color:#159957;
    ">
      ← Back to Home
    </a>

    <h1 class="project-name">{{ page.title }}</h1>
  </div>
</header>

<main id="content" class="main-content" role="main">
  {{ content }}
</main>

</body>
</html>
